.artifactDetailsContainer {
	float: right;
	width: calc(50% - 5px);
	padding: 10px;
	padding-left: 5px;
	max-height: calc(100vh - 270px);

}

.artifactDetails {
	max-width: 100%;
	background-color: rgba(39,41,61,1);
	border-radius: 20px;
	height: calc(100vh - 90px);
	overflow-y: hidden;
	overflow-x: hidden;
}

.noArtifactSelectedContainer {
}

.please-select {
	text-align: center;
	margin-top: 300px;
}

.artifactSelectedContainer {

}

.artifactContentContainer {
	align-items: stretch;
	padding: 10px;
	height: 40%;
	overflow: hidden;
	background-color: rgba(39,41,61,1);
}

.artifactContent {
	max-height: 100%;
	margin: 0px;
	font-family: Courier;
	background-color: rgba(39,41,61,1);
	border-width: 1px;
	border-color: black;
	border-style: solid;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 10px;
	height: 200px;
}

.traceLinksTableContainer {
	padding: 10px;
	padding-top: 0px;
	color: white;
	overflow-y: hidden;
	overflow-x: hidden;
	margin-right: 0px;
	max-height: calc(100vh - 400px);
}

.link-table {
	overflow-y: scroll;
}

.bp3-table-container {
	overflow: auto;
}
