.artifactBrowserContainer {
	padding: 10px;
	padding-right: 5px;
	align-items: stretch;
	float: left;
	width: calc(50% - 5px);
	max-height: 100%;

}

.artifactBrowser {
	max-width: 100%;
	background-color: rgba(39,41,61,1);
	border-radius: 20px;
}

.artifactClassSelectorContainer {
	padding: 20px;
	display: table-cell;
}


.artifactFiltersContainer {
	padding: 20px;
}

.artifactFilters {
	size: 25;
}

.artifactPreviewsContainer {
	overflow-y: scroll;
	max-height: calc(100vh - 260px);
	overflow-x: hidden;
	margin-right: 10px;
}

.artifactPreviewContainer {
	padding: 10px 20px;
	display: flex;
}

.sourceTitle {
	width: 100%; 
	display: table;
}

.sourceTitleRow {
	display: table-row;
	height: 50px;
}

.leftTitle {
	width: 50%; 
	display: table-cell; 
	color: white;
	font-size: 30px;
	font-weight: bold;
	vertical-align: middle;
}

.metricTable {
	width: 90%;
	color: white;
	margin-left: 30px;
}

tr > * {
	border: 1px solid pink;
}

th {
	background-color: pink;
	color: rgba(39,41,61,1);
}

.heading {
	color: white;
	font-size: 25px;
	font-weight: bold;
	margin-left: 45px;
	margin-top: 15px;
	margin-bottom: 15px;
}



