.artifactBrowserContainer {
	padding: 10px;
	padding-right: 5px;
	align-items: stretch;
	float: left;
	width: calc(50% - 5px);
	max-height: 100%;

}

.artifactBrowser {
	max-width: 100%;
	background-color: rgba(39,41,61,1);
	border-radius: 20px;
}

.artifactClassSelectorContainer {
	padding: 20px;
	display: table-cell;
	float: right;
	margin-right: 30px;
}


.artifactFiltersContainer {
	padding: 20px;
}

.artifactFilters {
	size: 25;
}

.artifactPreviewsContainer {
	overflow-y: scroll;
	max-height: calc(100vh - 260px);
	overflow-x: hidden;
	margin-right: 10px;
}

.artifactPreviewContainer {
	padding: 10px 20px;
	display: flex;
}

.targetTitle {
	width: 100%; 
	display: table;
}

.targetTitleRow {
	display: table-row;
	height: 50px;
}

.leftTitle {
	width: 50%; 
	display: table-cell; 
	color: white;
	font-size: 30px;
	font-weight: bold;
	vertical-align: middle;
}